body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: white;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.info.legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  display: inline-block;
}

